<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="conteiner">
        <h1><%= title %></h1>
        <form action="/add" method="post">
            <legend>
                Añadir una Tarea:
            </legend>
            <div class="form-group">
                <input type="text" id="title" class="form-control" name="title">
            </div>
            <div class="form-group">
                <textarea placeholder="Descripcion" class="form-control" name="description" rows="1" cols="50"></textarea>
            </div>
            <button class="btn btn-primary">
                Guardar
            </button>
        </form>
        <hr>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Descripcion</th>
                    <th>Operaciones</th>
                </tr>

            </thead>
            <tbody>
                <% for (var i = 0; i < tasks.length; i++) {%>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td>
                            <strong>
                                <%= tasks[i].title %>
                            </strong>
                        </td>
                        <td>
                            <%= tasks[i].description %>
                        </td>
                        <td>
                            <a
                            class="<%= tasks[i].status ? `btn btn-success`: `btn btn-dark` %>"
                            href="/turn/<%= tasks[i]._id %>">Done</a>
                            <a 
                            id="delete"
                            class="btn btn-danger" href="/delete/<%= tasks[i]._id %>">Delete</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table> 
    </div>
    <script>
        document.getElementById("title").focus();
        document.getElementById("delete")
        .addEventListener("click", (e) => {
            let responde = confirm("Desea eliminar la tarea");
            if (!responde) {
                e.preventDefault();
            };
        });
    </script>

</body>
</html>